@import "../../Styles/variables.scss";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: $pad-1;
  padding-top: 2.5rem;
  box-shadow: $shadow-soft;
  border-left: $card-border-left;
  border-color: $col-low;
  h2 {
    margin-bottom: 0.2rem;
  }
  .selectors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    .s-input {
      display: flex;
      flex-direction: column;
      width: 100%;

      .date-input {
        width: 100%;
        height: 36px;
        padding: 0 $pad-1;
        font-size: $fs-1;
        background-color: $light-grey;
        border: none;
      }

      .date-input:hover {
        background-color: $dark-grey;
        color: #fff;
      }
    }
  }
}

.submit-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: grey;
}
form > * {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

form.low{
  border-color: $col-low;
}

form.medium{
  border-color: $col-med;
}

form.high{
  border-color: $col-high;
}