@import "../../Styles/variables.scss";

.edit-title {
  border-left: 10px solid $col-med;
  padding-left: $pad-1;
}

.form-btns {
  display: flex;
  gap: 10px;
  width: 85%;
  margin-bottom: 1rem;
  button {
    width: 100%;
    background-color: $dark-grey;
    transition: $trans-gen;
    border: 2px solid $dark-grey;
    .links {
      text-decoration: none;
      color: #fff;
      p {
        padding: $pad-1;
      }
    }
  }

  button:hover{
    background-color: $light-grey;
    .links{
      p{
        color: $dark-grey;
      }
    }
  }
}
