@import '../../Styles/variables.scss';

.bug-stats-container{
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
}

.head-2{
  margin-top: 2.5rem;
}



.no-bug-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: $card-border-left;
  padding: $pad-1;
}
