@import '../../Styles/variables.scss';

.bug-stats-container{
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
}

.head-2{
  margin-top: 2.5rem;
}

.bug-grid{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-bug-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  //box-shadow: $shadow-soft;
  border-left: $card-border-left;
  padding: $pad-1;
}
